body{
	marign:0;
	padding: 0;
	background: #e9e9e9;
	font-family: "微軟正黑體";
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 0;
	height: 0;
}

a,a:hover{
	text-decoration: none;
}

.top{
	height: 125px;
}

.title{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 10px;
	font-size: 28px;
}

.shape{
	width: 180px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: -10%;
	transform:translateX(-53%);
	background-color: rgba(12,126,125,0.4);
	
}

.title p{
	font-size: 14px;
	letter-spacing: 5px;
	font-weight: 700;
}

.login{
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 25%;
	background: #fff;
	z-index: 999;
	padding: 100px 30px;
}

.login h2{
	text-align: center;
}

.login input{
	width: 100%;
	height: 50px;;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

.login input:focus,.login input:active{
	
	border: none;
	border-bottom: 1px solid black;
}

.btn-login{
	width: 100%;
	margin-top: 30px;
	background: rgba(0,220,255,1.00);
	border-radius: 5px;
	border: none;
	text-align: center;
	padding: 10px 0px;
	transition: 0.5s;
	outline: none;
}


.btn-login:hover{
	transform: scale(1.1);
}

.btn-login:active{
	transform: scale(1);
}

.scrolltop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 999;
	animation: 2.5s scrolltop infinite;
}
.scrolltop img{
	width: 50px;
	
}

@keyframes scrolltop{
	0%{
		bottom: 10px;
	}
	50%{
		bottom: 20px;
	}
	100%{
		bottom: 10px;
	}
}


.scrolltop p{
	position: absolute;
	bottom: 0;
	right: 20px;
	color: #fff;
	font-weight: 700;
}

@media screen and (max-width:600px){
	.login{	
		width: 80%;
		padding: 75px 30px;
	}
}

/*nav*/

.nav-b{
	padding: 5px 30px;
	position: relative;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}

.nav-b:after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(70%);
	padding: 5px 25px;
	font-size: 15px;
	transition: 1.5s;
	width: 100%;
	height: 100%;
	color: #fff;
	opacity: 0;
	text-align: center;
}

.nav-b:hover:after{
	opacity: 1;
	transform: translateY(0);
}

.nav-b span{
	transition: 1.5s;
}

.nav-b:hover span{
	opacity: 0;
}

@media screen and (max-width:600px){
	.nav-b:after{	
		text-align: left;
	}
}

/*slide*/

.slide{
	width: 100%;
	height: 100vh;
	position: relative;
}

.show img{
	height: 100vh;
	width: 100%;
}

.turn img{
	width: 20%;
	top: 30%;
	left: 40%;
	position: absolute;
}

.turn img:nth-child(2){
	animation: turn 6s infinite;
}

.turn img:nth-child(3){
	animation: turn 8s infinite;
}

@keyframes turn{
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(360deg)
	}
}

@media screen and (max-width:600px){
	.slide{
		height: 30%;
	}
	.show img{
		height: 30%;
	}
}

/*mean*/

#mean{
	width: 100%;
	height: 100vh;
	background: url(../img/bg/Background00011.png) no-repeat center center;
	background-size: cover;
}

.box{
	width: 100%;
	padding: 80px 40px 120px;
	background: #fff;
	position: relative;
	max-height: 380px;
}

.box:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(14,194,70,1.00);
	transform-origin: top;
	transform: scaleY(0);
	transition: 0.5s transform;
}

.box:hover:after{
	transform-origin: bottom;
	transform: scaleY(1);
}

.box h2{
	position: absolute;
	left: 40px;
	top: 40px;
	opacity: 0.1;
	font-size: 3.5em;
	font-weight: 800;
	z-index: 1;
	transition: 0.5s;
}

.box h3,
.box p{
	color: #333;
	position: relative;
	z-index: 2;
	transition: 0.5s;
}

.box:hover h2{
	color: #fff;
	top: 20px;
	opacity: 1;
}

.box:hover h3,
.box:hover p{
	color: #FFF;
}

@media screen and (max-width:600px){
	#mean{
		height: 100%;
	}
	.box{
		margin-bottom: 20px;
	}
	
}


/*category*/

#category{
	width: 100%;
	height: 100vh;
}

.category-main{
	width: 70%;
	display: flex;
	margin: 0 auto;
	
}

.category-item.current{
	flex-basis: 40%;
	opacity: 1;
}

.category-item{
	flex-basis: 20%;
	position: relative;
	overflow: hidden;
	opacity: 0.6;
	transition: 0.5s;
}

.category-box img{
	height: 500px;
}

.category-box{
	justify-content: center;
	align-items: center;
	display: flex;
}

.category-item h2{
	position: absolute;
	top: 100%;
	left: 0;
	color: #fff;
	font-size: 16px;
	transform: translateY(-100%);
	width: 100%;
	background: #000;
	text-align: center;
	border-bottom: 3px solid green;
}

@media screen and (max-width:600px){
	.category-main{
		width: 100%;
	}
}

/*shop*/

.img{
	position: relative;
	overflow: hidden;
}


.img img{
	max-height: 385px;
	width: 100%;
	border-radius: 15px;
}

.addcart{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.60);
	padding: 120px 50px;
	transform: translateY(-100%);
}

.addcart p{
	color: #000;
	font-weight: 800;
	font-size: 2em;
}

.addcart img{
	width: 30%;
	margin-left: 55px;;
}

.slidedown{
	animation: slidedown 4s ease-out;
}

@keyframes slidedown{
	0%{
		transform: translateY(-100%);
	}
	20%{
		transform: translateY(0%);
	}
	30%{
		transform: translateY(0%);
	}
	40%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);
	}
}

.heart{
	animation: heart 0.5s linear;
	animation-fill-mode:forwards;
	text-shadow: 0px 0px 40px #000;
}

@keyframes heart{
	0%{
		transform: rotate(0deg) scale(1.7)
	}
	40%{
		transform: rotate(0deg) scale(1)
	}
	41%{
		transform: rotate(360deg) scale(1)
	}
	100%{
		transform: rotate(0deg) scale(1);
		color: rgba(255,0,4,1.00);
	}
}

.infor-icon{
	position: absolute;
	bottom: 10px;
	width: 40px;
	left: 10px;
	text-shadow: 0px 0px 40px #000;
	cursor: pointer;
	z-index: 999;
}

.infor{	
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.60);
	padding: 60px 50px;
	font-weight: 700;
	transform-origin: top left;
	transform: rotate(90deg);
	
}

.infor-ani{	
	animation: infor 1s ; 
	animation-fill-mode: forwards;
}	

@keyframes infor{
	0%{
		transform: rotate(90deg)
	}
	100%{
		transform: rotate(0deg);
	}
}


.box-s .img a:hover{
	color: rgba(255,255,255,1.00);
}

.box-s .img a{
	position: absolute;
	bottom: 0;
	font-size: 40px;
	color: rgba(255,255,255,1.00);
	right: 10px;
	text-shadow: 0px 0px 40px #000;
	cursor: pointer;
}

.box-s p{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 20px;
}

.btn-shop{
	width: 80%;
	padding: 5px 30px;
	text-align: center;
	border: 3px solid black;
	border-radius: 10px;
	transition: 0.5s;
	margin: 0 auto;
	margin-bottom: 20px;
	cursor: pointer;
	
	
}

.btn-shop:hover{
	transform: scale(1.1);
}

.btn-shop:active{
	transform: scale(1);
}

@media screen and (max-width:600px){
	.img img{
		max-height: 600px;
	}
	.addcart p{	
		font-size: 4em;
	}
	.addcart img{
		margin-left: 35%;
	}
}

/*event*/

#event{
	background: url(../img/bg/1.jpg) center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

@keyframes bg{
	0%{
		background-position: 0px 0px;
	}
	25%{
		background-position: -30px 0px;
	}
	50%{
		background-position: -30px -30px;
	}
	75%{
		background-position: 0px -30px;
	}
}

.sign-e{
	width: 30%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 15px;
	position: fixed;
	background: rgba(255,255,255);
	z-index: 999;
}
.btn-sign{
	width: 100%;
	padding: 5px 30px;
	text-align: center;
	border-radius: 10px;
	transition: 0.5s;
	border: none;
	margin-top: 20px;
	cursor: pointer;
	background-color: rgba(67,187,59,1.00);
}

.btn-sign:hover{
	transform: scale(1.05);
}

.btn-sign:active{
	transform: scale(1);
}

.container-fluid input{
	width: 100%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px rgba(0,0,0,1.00) solid;
	background: transparent;
	height: 30px;
	font-size: 16px;
	outline: none;
}

.btn-e{
	width: 80%;
	padding: 5px 30px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	transition: 0.5s;
	margin: 0 auto;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: rgba(67,187,59,1.00);
}

.btn-e:hover{
	transform: scale(1.1);
}

.btn-e:active{
	transform: scale(1);
}


.box2{
	position: relative;
	width: 300px;
	height: 375px;
	box-shadow: 0px 10px 45px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin: 0 auto;
}

.face{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.face span{
	width: 60px;
	height: 100%;
	transition: 1s;
}

.face.face1 span{
	background-image: url(../img/event/1.jpg);
	transform-origin: top;
}

.box2:hover .face.face1 span{
	transform:rotateX(90deg) translateY(-50%) ;
}

.face.face2 span{
	background-image: url(../img/event/4.jpg);
	transform-origin: bottom;
	transform:rotateX(90deg) translateY(50%) ;
}

.box2:hover .face.face2 span{
	transform:rotateX(0deg) translateY(0%) ;
}

.face span:nth-child(1){
	background-position: -0px;
	transition: 0.2s;
}

.face span:nth-child(2){
	background-position: -60px;
	transition: 0.4s;
}

.face span:nth-child(3){
	background-position: -120px;
	transition: 0.6s;
}

.face span:nth-child(4){
	background-position: -180px;
	transition: 0.8s;
}

.face span:nth-child(5){
	background-position: -240px;
	transition: 1s;
}

.text{
	width: 100%;
	height: 100%;
	position: absolute;
	color: #fff;
	padding: 100px 40px;
	text-align: center;
	opacity: 0;
	transition: 1.1s;
}

.text p{
	font-size: 20px;
}

.box2:hover .text{
	opacity: 1;
}

@media screen and (max-width:600px){
	#event{
		height: 100%;
	}
	.box2{
		margin-bottom: 20px;
	}
	.sign-e{
		width: 100%;
		height: 70%;
	}
}

/*contact*/

#contact{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background: url(../img/bg/2.jpg);
	animation: bg 10s infinite;
}
#contact label{
	color: #fff;
	font-weight:700; 
}
#contact h3{
	color: #fff;
	font-weight:700; 
}

@media screen and (max-width:600px){
	#contact{
		height: 100%;
	}
	.btn-success{
		margin-bottom: 20px;
	}
}


/*footer*/

#footer{
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
}

.f1 h2{
	margin-bottom: 20px;
}

.f1 p {
	font-weight: 700;
	font-size: 20px;
	line-height: 50px;
}

.f1 img{
	width: 50px;
}

.f2 h2{	
	margin-bottom: 20px;
}

.f2 p{
	font-weight: 700;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 0;
	margin-left: 10px;
	color: #000;
}

.f3 input{
	border: none;
	border-bottom: 1px rgba(0,0,0,1.00) solid;
	background: transparent;
	width: 100%;
	height: 50px;
	font-size: 20px;
	outline: none;
}

.btn-f{
	width: 100%;
	padding: 5px 30px;
	text-align: center;
	background: transparent;
	border: 3px solid black;
	border-radius: 10px;
	transition: 0.5s;
	margin-top: 20px;
	cursor: pointer;
}

.btn-f:hover{
	transform: scale(1.1);
}

.btn-f:active{
	transform: scale(1);
}

@media screen and (max-width:600px){
	.f1,.f2,.f3{
		margin-bottom: 20px;
	}
}

/*footer*/

.footer2{
	width: 100%;
	background-color: rgba(176,176,176,1.00);
	
}

.text-f p{
	text-align: center;
	line-height: 50px;
	margin-bottom: 0;
}

.icon{
	text-align: center;
}

.icon img{
	width: 50px;
	height: 50px;
	margin:20px 15px 0px;
}

