body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "微軟正黑體";
	background: #ede6e6;
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 0;
	height: 0;
}

section{
	width: 100%;
	height: 100vh;
	position: relative;
}

a,a:hover{
	text-decoration: none;
}

li{
	list-style-type: none;
}

.top{
	height: 100px;
}

.title{
	margin-bottom: 50px;
	font-size: 28px;
	color: #FF2C55;
	letter-spacing: 10px;
	text-align: center;
	position: relative;
}

.shape{
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	background-color: rgba(12,126,125,0.4);
}

.title h2{
	color: #FF2C55;
}

.title p{
	letter-spacing: 7px;
	font-weight: 700;
	font-size: 16px;
	color: #000;
}

.login{
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 25%;
	height: 70%;
	background: #fff;
	z-index: 999;
	padding: 130px 30px;
}

.login h2{
	text-align: center;
}

.login input{
	width: 100%;
	height: 50px;;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

.login input:focus,.login input:active{
	
	border: none;
	border-bottom: 1px solid black;
}

.btn-login{
	width: 100%;
	margin-top: 30px;
	background: rgba(0,220,255,1.00);
	border-radius: 5px;
	text-align: center;
	padding: 10px 0px;
	transition: 0.5s;
	outline: none;
}


.btn-login:hover{
	transform: scale(1.1);
}

.btn-login:active{
	transform: scale(1);
}

@media screen and (max-width:600px){
	section{
		height: 100%;
	}
	.e-box{
		margin-bottom: 20px;
	}
	.login{
		width: 75%;
	}
}

/*nav*/

.navbar-dark .navbar-nav .nav-link {
     color: rgba(255, 255, 255,1);
}

nav{
	background: rgba(0,0,0,0.6);
	transition: 1.5s;
	
}
.logo{
	width: 40%;
}

.nav-b{
	padding: 5px 30px;
	position: relative;
	color: #fff;
	display: inline;
	font-size: 20px;
	font-weight: 700;
	z-index: 99;
}

.nav-b:after{
	content: attr(data-text);
	position: absolute;
	padding: 5px 40px;
	width: 100%;
	height: 100%;
	left: 0;
	font-size: 16px;
	transform: translateY(0%);
	opacity: 0;
	transition: 1.5s;
}

.nav-b:hover:after{
	transform: translateY(-70%);
	opacity: 1;
}

.nav-b a{
	transition: 1.5s;
	
}

.nav-b:hover a{
	opacity: 0;
}


@media screen and (max-width:600px){
	.logo{
		width: 30%;
	}
	.nav-b:after{
		text-align: left;
	}
}
/*slide*/

.show img{
	width: 100%;
	height: 100vh;
}

.turn img{
	position: absolute;
	top: 30%;
	left: 40%;
	width: 20%;
}

.turn img:nth-child(2){
	animation: turn 6s infinite;
}

.turn img:nth-child(3){
	animation: turn 8s infinite;
}

@keyframes turn{
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(360deg)
	}
}

@media screen and (max-width:600px){
	.show img{
		height: 60vh;
	}
	.turn img{
		width: 30%;
		top: 35%;
		left: 35%;
	}
}

/*mean*/


#mean{
    background: url(../img/bg/Background00011.png) center center;
	background-size: cover;
}

@keyframes bg{
	0%{
		background-position: 0px 0px;
	}
	25%{
		background-position: -30px 0px;
	}
	50%{
		background-position: -30px -30px;
	}
	75%{
		background-position: 0px -30px;
	}
}




.box{
	width: 100%;
	position: relative;
	padding: 100px 40px 80px;
	background: #fff;
}

.box:after{
	content:""; 
	height: 100%;
	width: 100%;
	position: absolute;
	background: #F8333C;
	top: 0;
	left: 0;
	transition: 0.5s transform;
	transform: scaleY(0);
	transform-origin: top;
}

.box:hover:after{
	transform: scaleY(1);
	transform-origin: bottom;
}

.box h2{
	position: absolute;
	top: 60px;
	left: 40px;
	font-weight: 800;
	font-size: 4em;
	opacity: 0.1;
	transition: 0.5s;
	z-index: 1;
}

.box:hover h2{
	opacity: 1;
	color: #fff;
	top: 30px;
}

.box h3,
.box p{
	position: relative;
	transition: 0.5s;
	color: #333;
	z-index: 2
}

.box:hover h3,
.box:hover p{
	color:#fff;
}

@media screen and (max-width:600px){
	#mean{
		height: 100%;
	}
	.box{
		margin-bottom: 20px;
	}
}


/*category*/



.category-main{
	width: 60%;
	margin: 0 auto;
	display: flex;
}

.category-item {
	flex-basis: 20%;
	position: relative;
	overflow: hidden;
	opacity: 0.6;
	transition: 0.5s ease-out;
}

.category-item img{
	height: 400px;
}

.current{
	flex-basis: 40%;
	opacity: 1;
}

.category-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-box img{
	
}

.category-item h2{
	padding: 5px 0;
	color: #fff;
	background: #000;
	width: 100%;
	top: 100%;
	left: 0;
	position: absolute;
	transform: translateY(-100%);
	font-size: 16px;
	text-align: center;
	border-bottom: 3px solid hsla(120,67%,44%,1.00);
}

@media screen and (max-width:600px){
	.category-main{
		width: 100%;
	}
}
/*shop*/

.shop{
	height: 100%;
	padding: 30px;
}

.img img{
	width: 100%;
	max-height: 385px;
}

.img p{
	text-align: center;
	margin-top: 30px;
}

.btn-shop{
	width: 100%;
	background: transparent;
	border: solid 2px black;
	border-radius: 5px;
	padding: 5px 0px;
	transition: 0.5s;
	outline: none;
	text-align: center;
}


.btn-shop:hover{
	transform: scale(1.1);
}

.btn-shop:active{
	transform: scale(1);
}


@media screen and (max-width:600px){
	.shop2{
		height: 100%;
		padding-bottom: 30px;
	}
	.img{
		margin-bottom: 20px;
	}
	.img img{
		max-height: 600px;
	}
}


/*event*/
#event{
	  background: url(../img/bg/1.jpg) no-repeat;
	  animation: bg2 10s infinite;
	  box-shadow: 0px 5px 5px 0px rgba(45, 44, 45, 0.42);
}

@keyframes bg2{
	0% {
		background-position: 0px 0px;
	}
	25% {
		background-position: 0px -30px;
	}
	50% {
		background-position: -30px -30px;
	}
	75% {
		background-position: -30px 0px;
	}
}

.box2{
	position: relative;
	width: 300px;
	height: 375px;
	border-radius: 10%;
	overflow: hidden;
	box-shadow: 0 10px 45px rgba(0,0,0,0.1);
	margin: 0 auto;
}

.box2 .face{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	
}

.box2 .face span{
	width:60px;
	height: 100%;
	transition: 1s;
}

.box2 .face h2{
	position: absolute;
	top:25%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	color:white;
	transition: 1.2s;
}
.box2 .face p{
	position: absolute;
	top:40%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	color:white;
	transition: 1.2s;
}
.box2 .face.face1 span{
	background-image: url(../img/event/1.jpg);
	transform-origin: top;
}

.box2:hover .face.face1 span{
	transform: rotateX(90deg) translateY(-50%);
}

.box2:hover .face h2{
	opacity: 1;
}

.box2:hover .face p{
	opacity: 1;
}

.box2 .face.face2 span{
	background-image: url(../img/event/4.jpg);
	transform-origin: bottom;
	transform: rotateX(90deg) translateY(50%);
}

.box2:hover .face.face2 span{
	transform: rotateX(0deg) translateY(0);
}

.box2 .face span:nth-child(1){
	background-position-x: 0;
	transition: 0.2s;
}
.box2 .face span:nth-child(2){
	background-position-x: -60px;
	transition: 0.4s;
}
.box2 .face span:nth-child(3){
	background-position-x: -120px;
	transition: 0.6s;
}
.box2 .face span:nth-child(4){
	background-position-x: -180px;
	transition: 0.8s;
}
.box2 .face span:nth-child(5){
	background-position-x: -240px;
	transition: 1s;
}


/*footer*/


.footer{
	width: 100%;
	height: 100%;
	padding: 50px 0;
}

.f-row{
	margin-top: 50px;
}

.f-1 p{
	font-size: 20px;
	line-height: 40px;
}

.f-2 p{
	margin-left: 16px;
	color: #000;
	font-size: 20px;
}

.f-3{
	font-size: 20px;
}


.btn{
	width: 100%;
	margin-top: 30px;
	background: transparent;
	border: solid 2px black;
	border-radius: 5px;
	padding: 5px 0px;
	transition: 0.5s;
	outline: none;
}


.btn:hover{
	transform: scale(1.1);
}

.btn:active{
	transform: scale(1);
}

.input{
	width: 100%;
	height: 50px;;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

.input:focus,.input:active{
	
	border: none;
	border-bottom: 1px solid black;
}



.icon img{
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 20px;
	float: right;
}

.footer2{
	width: 100%;
	height: 20%;
	line-height: 50px;
	color: #000;
	background-color: #cccccc;
}

.footer2 p{
  margin-bottom: 0px;
}

@media screen and (max-width:600px){
	.f-1{
		margin-bottom: 20px;
	}
	.f-2{
		margin-bottom: 20px;
	}
	.f-3{
		margin-bottom: 20px;
	}
	.icon img{
		float: none;
		margin-left: 13%;
	}
	.footer2 p{
		font-size: 13px;
		text-align: center;
	}
}
