body{
	marign:0;
	padding: 0;
	background: #e9e9e9;
	font-family: "微軟正黑體";
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar{
	width: 0;
	height: 0;
}

a,a:hover{
	text-decoration: none;
}

.top{
	height: 100px;
}

.title{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 10px;
	font-size: 28px;
}

.shape{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(12,126,125,0.4)
}

.title p{
	font-size: 14px;
	letter-spacing: 5px;
	font-weight: 700;
}

/*nav*/

.nav-b{
	padding: 5px 30px;
	position: relative;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}

.nav-b:after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(70%);
	padding: 5px 30px;
	font-size: 15px;
	transition: 1.5s;
	width: 100%;
	height: 100%;
	color: #fff;
	opacity: 0;
	text-align: center;
}

.nav-b:hover:after{
	opacity: 1;
	transform: translateY(0);
}

.nav-b span{
	transition: 1.5s;
}

.nav-b:hover span{
	opacity: 0;
}

/*slide*/

.slide{
	width: 100%;
	height: 100vh;
	position: relative;
}

.show img{
	height: 100vh;
	width: 100%;
}

.turn img{
	width: 20%;
	top: 30%;
	left: 40%;
	position: absolute;
}

.turn img:nth-child(2){
	animation: turn 6s infinite;
}

.turn img:nth-child(3){
	animation: turn 8s infinite;
}

@keyframes turn{
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(360deg)
	}
}

@media screen and (max-width:600px){
	.slide{
		height: 30%;
	}
	.show img{
		height: 30%;
	}
}

/*mean*/

#mean{
	width: 100%;
	height: 100vh;
	background: url(../img/bg/Background00011.png) no-repeat center center;
	background-size: cover;
}

.box{
	width: 100%;
	padding: 100px 40px 80px;
	background: #fff;
	position: relative;
	
}

.box:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(241,41,41,1.00);
	transform-origin: top;
	transform: scaleY(0);
	transition: 0.5s transform;
}

.box:hover:after{
	transform-origin: bottom;
	transform: scaleY(1);
}

.box h2{
	position: absolute;
	left: 40px;
	top: 60px;
	opacity: 0.1;
	font-size: 4em;
	font-weight: 800;
	z-index: 1;
	transition: 0.5s;
}

.box h3,
.box p{
	color: #333;
	position: relative;
	z-index: 2;
	transition: 0.5s;
}

.box:hover h2{
	color: #fff;
	top: 20px;
	opacity: 1;
}

.box:hover h3,
.box:hover p{
	color: #FFF;
}

@media screen and (max-width:600px){
	#mean{
		height: 100%;
	}
	.box{
		margin-bottom: 20px;
	}
	
}


/*category*/

#category{
	width: 100%;
	height: 100vh;
}

.category-main{
	width: 60%;
	display: flex;
	margin: 0 auto;
	
}

.category-item.current{
	flex-basis: 40%;
	opacity: 1;
}

.category-item{
	flex-basis: 20%;
	position: relative;
	overflow: hidden;
	opacity: 0.6;
	transition: 0.5s;
}

.category-box img{
	height: 400px;
}

.category-box{
	justify-content: center;
	align-items: center;
	display: flex;
}

.category-item h2{
	position: absolute;
	top: 100%;
	left: 0;
	color: #fff;
	font-size: 16px;
	transform: translateY(-100%);
	width: 100%;
	background: #000;
	text-align: center;
	border-bottom: 3px solid green;
}

@media screen and (max-width:600px){
	.category-main{
		width: 100%;
	}
}

/*shop*/


.img img{
	max-height: 385px;
	border-radius: 15px;
	width: 100%;
}

.img p{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 20px;
}

.btn-shop{
	width: 100%;
	padding: 5px 30px;
	text-align: center;
	border: 3px solid black;
	border-radius: 10px;
	transition: 0.5s;
	margin-bottom: 20px;
}

.btn-shop:hover{
	transform: scale(1.1);
}

.btn-shop:active{
	transform: scale(1);
}

@media screen and (max-width:600px){
	.img img{
		max-height: 600px;
	}
}

/*event*/

#event{
	background: url(../img/bg/1.jpg) no-repeat;
	animation: bg 10s infinite;
	width: 100%;
	height: 100vh;
}

@keyframes bg{
	0%{
		background-position: 0px 0px;
	}
	25%{
		background-position: -30px 0px;
	}
	50%{
		background-position: -30px -30px;
	}
	75%{
		background-position: 0px -30px;
	}
}

.box2{
	position: relative;
	width: 300px;
	height: 375px;
	box-shadow: 0px 10px 45px rgba(0,0,0,0.1);
	overflow: hidden;
	border-radius: 10px;
	margin: 0 auto;
}

.face{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.face span{
	width: 60px;
	height: 100%;
	transition: 1s;
}

.face.face1 span{
	background-image: url(../img/event/1.jpg);
	transform-origin: top;
}

.box2:hover .face.face1 span{
	transform:rotateX(90deg) translateY(-50%) ;
}

.face.face2 span{
	background-image: url(../img/event/4.jpg);
	transform-origin: bottom;
	transform:rotateX(90deg) translateY(50%) ;
}

.box2:hover .face.face2 span{
	transform:rotateX(0deg) translateY(0%) ;
}

.face span:nth-child(1){
	background-position: -0px;
	transition: 0.2s;
}

.face span:nth-child(2){
	background-position: -60px;
	transition: 0.4s;
}

.face span:nth-child(3){
	background-position: -120px;
	transition: 0.6s;
}

.face span:nth-child(4){
	background-position: -180px;
	transition: 0.8s;
}

.face span:nth-child(5){
	background-position: -240px;
	transition: 1s;
}

.text{
	width: 100%;
	height: 100%;
	position: absolute;
	color: #fff;
	padding: 100px 40px;
	text-align: center;
	opacity: 0;
	transition: 1.1s;
}

.text p{
	font-size: 20px;
}

.box2:hover .text{
	opacity: 1;
}

@media screen and (max-width:600px){
	#event{
		height: 100%;
	}
	.box2{
		margin-bottom: 20px;
	}
}


/*footer*/

#footer{
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
}

.f1 h2{
	margin-bottom: 20px;
}

.f1 p {
	font-weight: 700;
	font-size: 20px;
	line-height: 50px;
}

.f1 img{
	width: 50px;
}

.f2 h2{	
	margin-bottom: 20px;
}

.f2 p{
	font-weight: 700;
	font-size: 20px;
	line-height: 50px;
	margin-bottom: 0;
	margin-left: 10px;
	color: #000;
}

.f3 input{
	border: none;
	border-bottom: 1px rgba(0,0,0,1.00) solid;
	background: transparent;
	width: 100%;
	height: 50px;
	font-size: 20px;
	outline: none;
}

.btn-f{
	width: 100%;
	padding: 5px 30px;
	text-align: center;
	border: 3px solid black;
	border-radius: 10px;
	transition: 0.5s;
	margin-top: 20px;
}

.btn-f:hover{
	transform: scale(1.1);
}

.btn-f:active{
	transform: scale(1);
}

@media screen and (max-width:600px){
	.f1,.f2,.f3{
		margin-bottom: 20px;
	}
}

/*footer*/

.footer2{
	width: 100%;
	background-color: rgba(176,176,176,1.00);
	
}

.text-f p{
	text-align: center;
	line-height: 50px;
	margin-bottom: 0;
}

.icon{
	text-align: right;
}

.icon img{
	width: 35px;
	height: 35px;
	margin-top: 10px;
	margin-left: 15px;
}

@media screen and (max-width:600px){
	.icon{
		text-align: center;
	}
}
